{% extends 'base.html' %}

{% block content%}
<div class="row py-5">
    <div class="col-md-10 offset-md-1">
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create account</h5>
              <form method="POST" action="{% url 'signup' %}" class="mxw-4">
                   {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input class="form-control" name="username" id="input-username" type="text">
                    </div>
                    <div class="form-group">
                        <label for="password1">Password:</label>
                        <input class="form-control" name="password1" id="input-password1" type="password">
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password:</label>
                        <input class="form-control" name="password2" id="input-password2" type="password">
                    </div>
                    <input type="submit" value="Sign Up" class="btn btn-primary" >             
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}