{% extends 'base.html' %}

{% block content%}
<div class="row py-5">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-body">
              {% for product in products.all %}
              <div class="media mb-3">
                <a href="{% url 'detail' product.id %}"><img width="100" src="{{ product.icon.url }}"></a>
                  <div class="media-body ml-2">
                      <h5><a href="{% url 'detail' product.id %}"> {{product.title}} </a></h5>
                      {{product.summary}}
                      <a href="javascript:{document.getElementById('formSubmitVote{{ product.id }}').submit()}" class="btn btn-primary">{{product.votes_total}} <span class="oi oi-caret-top" style="vertical-align: -2px;"></span> Upvote</a>
                      <form id="formSubmitVote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>    
                  </div>
              </div>
              {% endfor %}
            </div>
          </div>
    </div>
</div>
{% endblock %}